<article class="post">
    <h1>Javascript</h1>
    <h2><span>Programming</span></h2>
    <p>Javascript is the best language!</p>
    <a href=`/delete/${postId}` id="delete-button">Delete</a>
    <a href=`/details/${postId}` id="details-button">Details</a>
    <a href=`/edit/${postId}` id="edit-button">Edit</a>
</article>