<main>
    <img id="sadFaceImg"
        src="https://freefrontend.com/assets/img/html-funny-404-pages/SVG-Animation-404-Page.gif"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>