{{#if isAuth}}
<section class="actions">
        <form method="POST" action="/refill" >
                <h2>Salary time? Refill your account amount.</h2>
                <input type="text" name="refill" id="refill-amount">
                <button type="submit">Refill</button>
        </form>
        <div>
                <h2>New expense comming up?</h2>
                <a href="/expense/create">Add it now</a>
        </div>
</section>

<hr class="separator">
{{#if expenses}}
<table class="expenses">
        <thead>
                <tr>
                        <th>Merchant</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Description</th>
                </tr>

        </thead>
        <tbody>
           {{#each expenses}}
                {{> expense}}  
           {{/each}}
        </tbody>
</table>
{{else}}
<h1 class="no-expenses">No expenses founded so far.. <span>GOOD JOB!</span></h1>
{{/if}}
{{else}}
<p class="guest-message">MoneyGone? The best expense tracker tool of all time!<br>Аre you new here? <a
                href="/auth/register">Register</a> yourself!</p>

{{/if}}