<div class="card overflow-hidden current-card details" style="width: 20rem; height: 18rem;">
    <div class="card-body">
        <p class="card-text">{{this.title}}</p>
    </div>
    <img class="card-image" src="{{this.imageURL}}" alt="Card image cap">
    <a class="btn" href="#/details/{{this.id}}">Details</a>
</div>