{{> header}}

<div class="container home wrapper  my-md-5 pl-md-5">
    <div class="profile home-text col-md-6 text-center col-lg">
        <img class="profile-img" src="./images/user.png" />
        <div class="profile-info">
            <p>Email: <small>{{email}}</small></p>
            {{#if hasIdeas}}
                <p class="infoType">Has {{ideasLength}} ideas =)</p>
                {{#each ideas}}
                    <p>{{this}}</p>
                {{/each}}
            {{else}}
                <p>No ideas yet</p>
            {{/if}}
        </div>
    </div>
</div>

{{> footer}}