<div>
    <div class="notification loadingBox" id="loadingBox">
        Loading …
    </div>
    <div class="notification infoBox" id="successBox"></div>
    <div class="notification errorBox" id="errorBox"></div>
</div>
<div id="container">