{{> header}}
<section class="notifications" style="display: none;">
    <p class="notification-message" id="errorBox">Message...</p>
</section>
<section class="notifications" style="display: none;background-color:rgba(1, 131, 29, 0.541);">
    <p class="notification-message" id="successBox">Message...</p>
</section>

<form class="text-center border border-light p-5" action="#/edit/{{movie.movieId}}" method="POST">
    <h1>Edit Movie</h1>
    <div class="form-group">
        <label for="title">Movie Title</label>
        <input type="text" class="form-control" placeholder="Movie Title" value="{{movie.title}}" name="title" required>
    </div>
    <div class="form-group">
        <label for="description">Movie Description</label>
        <textarea class="form-control" placeholder="Movie Description..." name="description" required>{{movie.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image url</label>
        <input type="text" class="form-control" placeholder="Image Url" value="{{movie.imageUrl}}" name="imageUrl" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{> footer}}