<section class="notifications" style="display: none;">
    <p class="notification-message" id="errorBox">Message...</p>
</section>
<section class="notifications" style="display: none;background-color:rgba(1, 131, 29, 0.541);">
    <p class="notification-message" id="successBox">Message...</p>
</section>