{{> header}}
<section class="details">
    <div class="detail">
        <h1>Title: {{post.title}}</h1>
        <h2>Category: {{post.category}}</h2>
        <h3>Content: {{post.content}}</h3>
        <a href="/home">Back to Home</a>
    </div>
</section>