<form method="POST">
    <h1>Register</h1>

    <p>Personal info</p>
    <label for="usernmae">Username</label>
    <input id="username" type="text" name="username" placeholder="JustMyself123..." required>

    <label for="usernmae">Password</label>
    <input id="password" type="password" name="password" placeholder="******" required>

    <label for="repeat-password">Repeat Password</label>
    <input id="repeat-password" type="password" name="repeatPassword" placeholder="******" required>
    <hr>
    <p>Account</p>
    <label for="amount">Amount</label>
    <input id="amount" type="text" name="amount" placeholder="$125.90">

    <button type="submit">Register</button>
</form>