<main>
    <h1 class="text-center">Courses</h1>
    <section>
        <a href="/course/create" class="btn btn-warning ">Create Course</a>
        <form class="search float-right">
            <label>Search: </label>
            <input type="text">
            <input type="submit" class="btn btn-info" value="Search">
        </form>
    </section>

    <div class="container mt-3">
        <div class="row ">
            <div class="card-deck d-flex justify-content-center">
                <div class="card mb-4">
                    <img class="card-img-top"
                        src="https://blog.cyberpanel.net/wp-content/uploads/2019/03/express-js-cyberpanel.jpeg"
                        alt="Card image cap" width="400">
                    <div class="card-body">
                        <h4 class="card-title">ExpressJS</h4>
                    </div>
                    <div class="card-footer">
                        <a href=""><button type="button" class="btn btn-info">Details</button></a>
                        <small class="float-right">Date...</small>
                    </div>
                </div>

                <div class="card mb-4">
                    <img class="card-img-top" src="https://colorlib.com/wp/wp-content/uploads/sites/2/angular-logo.png"
                        alt="Card image cap" width="400">
                    <div class="card-body">
                        <h4 class="card-title">Angular</h4>
                    </div>
                    <div class="card-footer">
                        <a href=""><button type="button" class="btn btn-info">Details</button></a>
                        <small class="float-right">Date...</small>
                    </div>
                </div>

                <div class="card mb-4">
                    <img class="card-img-top"
                        src="http://blog.addthiscdn.com/wp-content/uploads/2014/11/addthis-react-flux-javascript-scaling.png"
                        alt="Card image cap" width="400">
                    <div class="card-body">
                        <h4 class="card-title">React</h4>
                    </div>
                    <div class="card-footer">
                        <a href=""><button type="button" class="btn btn-info">Details</button></a>
                        <small class="float-right">Date...</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center">No courses...</h3>
</main>